{% extends 'base.html.twig' %}
{% block title %}
    {{ 'title.albums'|trans }}
{% endblock %}

{% block body %}
    <h1 class="mb-4 mt-4 d-inline-block">{{ 'title.categories'|trans }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="d-inline-block h1" href="{{ url('category_create') }}">
        <span class="material-symbols-outlined">add_box</span></a>
    {% endif %}
    {% if pagination is defined and pagination.items|length %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'category.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'category.title') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.description'|trans, 'category.description') }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for category in pagination.items %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.title }}</td>
                        <td>{{ category.description }}</td>

                        <td><a href="{{ url('category_show', {slug: category.slug}) }}">{{ 'action.view'|trans }}</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                | <a
                                    href="{{ url('category_edit', {slug: category.slug}) }}">{{ 'action.edit'|trans }}</a>
                                | <a
                                    href="{{ url('category_delete', {slug: category.slug}) }}">{{ 'action.delete'|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>{{ 'message.empty_list'|trans }}</p>
    {% endif %}
{% endblock %}