{% extends 'base.html.twig' %}

{% block title %}
    {% if category is defined and category|length %}
        {{ category.title }} |
    {% endif %}
    {{ 'title.category'|trans }}
{% endblock %}

{% block body %}
    {% if category is defined and category|length %}
        <h1>{{ category.title }}</h1>
        <p>{{ category.description }}</p>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('category_edit', {slug: category.slug}) }}">{{ 'action.edit'|trans }}</a> |
            <a href="{{ url('category_delete', {slug: category.slug}) }}">{{ 'action.delete'|trans }}</a>
        {% endif %}
        {% include 'default/_album.html.twig' with {
            pagination: pagination,
        } %}
    {% else %}
        <p>{{ 'message.category_not_found'|trans }}</p>
    {% endif %}
    <p>
        <a href="{{ url('category_index') }}">
            {{ 'action.back_to_list'|trans }}
        </a>
    </p>
{% endblock %}


